earthquake_flow
[{"id":"61c7ecbf.4c8934","type":"function","z":"6c477932.eb1928","name":"remap property names","func":"msg.payload.lat = msg.payload.latitude;\nmsg.payload.lon = msg.payload.longitude;\nmsg.payload.layer = msg.payload.type;\nmsg.payload.icon = msg.payload.type;\nmsg.payload.name = msg.payload.id;\n\ndelete msg.payload.latitude;\ndelete msg.payload.longitude;\ndelete msg.payload.type;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["d8e07961.08ed28","9962249b.af244"]]},{"id":"d8e07961.08ed28","type":"debug","z":"6c477932.eb1928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":240,"wires":[]},{"id":"d915eab5.4b2e58","type":"csv","z":"6c477932.eb1928","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":490,"y":220,"wires":[["61c7ecbf.4c8934"]]},{"id":"2fd5e77f.1cc3e8","type":"http request","z":"6c477932.eb1928","name":"","method":"GET","url":"http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.csv","tls":"","x":330,"y":220,"wires":[["d915eab5.4b2e58"]]},{"id":"7c41f49c.87981c","type":"inject","z":"6c477932.eb1928","name":"quakes","topic":"","payload":"","payloadType":"str","repeat":"600","crontab":"","once":true,"onceDelay":"","x":170,"y":220,"wires":[["2fd5e77f.1cc3e8"]]},{"id":"8b67ec4e.b61e1","type":"comment","z":"6c477932.eb1928","name":"Earthquake !!!","info":"Press the button on the `inject` node to get the list of earthquakes from the USGS public API.\n\nThis returns a CSV - which we then parse using the `CSV` node into individual objects.\n\nThese are then passed through a `function` to remap the property names into ones \nsuitable for the map node, and passed to the `web-socket` out node.\n\nThe map will be served at http://localhost:1880/worldmap .\nYou will need to zoom out :-)","x":170,"y":160,"wires":[]},{"id":"9962249b.af244","type":"worldmap","z":"6c477932.eb1928","name":"","lat":"20","lon":"0","zoom":"2","cluster":"","maxage":"","x":730,"y":300,"wires":[]}]